.order{
    width:100%;
    margin:0 auto;
}
.order_content{
    width:1050px;
    height: auto;
    margin:0 auto;
}
.order_header{
    padding: 40px 0;
    text-align: center;
}
.order_header > h2 {
    display: block;
    padding: 10px 0 14px 0;
    color: #333;
    font: normal bold 38px/1.5 'Noto Sans' !important;
}
.order_header > p {
    margin: 0 0 40px 0;
    font: normal 16px/18px 'Noto Sans';
    color: #999;
    text-align: center;
}

/* 상품 정보 */
.order_titleArea{
    padding-top: 50px;
    margin: 0;
    text-align: left;
    border-bottom: 1.5px solid #ff7276;
}
.order_titleArea > p{
    margin-bottom: 0;
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #808080;
}
.order_tbl_head > tr > th{
    padding: 20px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4c4c4c;
    letter-spacing: -0.3px;
}
.order_tbl_head > tr > th:nth-of-type(2){
    padding-left:215px;
}
.order_tbl_body > tr{
    border-top: 2px solid #ddd;  
}
.order_tbl_body > tr{
    border-bottom: 1px solid #ddd;
}
.order_tbl_body > tr > td > img{
    padding: 20px 0;
    width:90px;
}
.order_tbl_body tr td{
    vertical-align: middle;
}
.order_goodsInfo{
    padding-left:20px;
}
.order_goodsInfo > div:first-of-type{
    padding-bottom: 23px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-indent: -0.3px;
    color: #333;
}
.order_goodsInfo > div:last-of-type{
    font-size: 14px;
}
.order_tbl_body > tr > td:last-of-type{
    color:#333;
}
/* 주문자 정보 */
.order_orderer{
    padding-top: 41px;  
}
.order_tbl tbody{
    border-bottom: 1px solid #ddd;
}
.order_tbl_orderer > tbody > tr{
    padding-top: 26px;
}
.order_tbl tbody tr th{
    padding-left:10px;
    width:190px;
    font-weight: 500;
    line-height: 35px;
    padding-top: 22px;
    font-size: 14px;
    color:#333;
}
.order_tbl_orderer > tbody > tr > td{
    line-height: 35px;
    padding-top: 22px;
    font-size: 14px;
    color:#333;
}
.order_tbl_orderer > tbody > tr > td > p{
    font-size: 12px;
    line-height: 21px;
    color: #514859;
    padding: 20px 0;
}
/* 배송 정보 */
.order_delivery{
    padding-top: 41px;  
}
.order_delivery p{
    display: inline-block;
}
.order_titleArea .order_delivery_desc{
    padding-left: 30px;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    vertical-align: top;
}
.order_titleArea .order_delivery_desc > span{
    color:#ff7276
}
.order_tbl_delivery tr td:first-of-type{
    padding-top:22px;
}
.order_tbl_delivery .order_addr input{
    font-size: 12px;
    color: #514859;
}
.order_tbl_delivery .order_addr input[type="text"]{
    width:600px;
    height: 35px;
    display: block;
    margin: 8px 0;
    border: 1px solid #ddd;
}
.order_tbl_delivery .order_addr button{
    overflow: hidden;
    width: 150px;
    height: 42px;
    border: 0 none;
    border-radius: 3px;
    background-color: #ff7276;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    text-align: center;
}
.order_tbl_delivery tbody tr:nth-of-type(2) td{
    font-size: 12px;
    line-height: 21px;
    color: #514859;
}
.order_tbl_delivery tbody tr:nth-of-type(3) td > input,
.order_tbl_delivery tbody tr:nth-of-type(4) td > input{
    height: 33px;
    padding: 0 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 12px;
    line-height: 33px;
    color: #000;
    letter-spacing: -0.2px;
    vertical-align: top;
}
.order_tbl_delivery tbody tr:nth-of-type(4) td > input{
    width:43px;
    text-align: center;
}
.order_bar{
    display: inline-block;
    position: relative;
    width: 13px;
    height: 33px;
    vertical-align: top;
}
.order_bar span{
    position: absolute;
    left: 3px;
    top: 17px;
    width: 8px;
    height: 1px;
    background-color: #d8d8d8;
}
.order_delivery_memo textarea{
    width: 600px;
    height: 73px;
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: top;
    text-align: left;
    font-size: 13px;
    color: #514859;
}
.order_chk_bytes{
    display: inline-block;
    font-size: 12px;
    color: #333;
    vertical-align: bottom;
}
/* 결제 금액 창 */
.order_payview{
    position: relative;
    float: right;
    width: 255px;
}
.order_payview .order_titleArea{
    border:none;
}
.order_payview_body{
    border:1.5px solid #ff7276;
    width: 255px;
    background: #f7f5f8;
}
.order_payview_table tbody{
    font-weight: 400;
    color: #000;
    font-size: 14px;
    letter-spacing: -0.3px;
}
.order_payview_table tbody tr th{
    width: 100px;
    padding: 12px 0 0 18px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-align: left;
    vertical-align: top;
}
.order_payview_table tbody tr td{
    padding: 12px 20px 0 0;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    vertical-align: top;
}
.order_payview_table tbody tr td{
    text-align: right;
    padding-right:10px;
}
.order_payview_table_line{
    height: 2px;
}
.order_payview_body .order_payview_table_line .order_payview_line{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
} 
.order_payview_table tbody .order_payview_first th{
    padding-top: 23px;
}
.order_payview_table tbody .order_payview_first td{
    padding-top: 23px;
}
.order_payview_table tbody .order_payview_last th{
    padding-top: 23px;
}
.order_payview_table tbody .order_payview_last td{
    padding-top: 23px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #ff7276;
    letter-spacing: -0.5px;
}
.order_payview_table tbody .order_payview_reverse td{
    padding-bottom: 10px;
    font-size: 12px;
    color: #514859;
    line-height: 18px;
    letter-spacing: -0.2px;
    text-align: right;
}

/* 적립금 / 결제수단 */
.order_method{
    width:775px;
    padding-top: 41px; 
}
.order_tbl_method td span{
    font-weight: 400;
    color: #000;
    font-size: 14px;
    letter-spacing: -0.3px;
}
.order_method_emoney td input[type="text"]{
    width: 180px;
    height: 33px;
    text-align: left;
    padding-left: 10px;
    border: 1px solid #ddd;
}
.order_method_emoney td button{
    margin-left: 30px;
    overflow: hidden;
    width: 100px;
    height: 42px;
    border: 0 none;
    border-radius: 3px;
    background-color: #ff7276;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    text-align: center;
}
.order_method_emoney td p{
    font-size: 12px;
    line-height: 21px;
    color: #514859;
}
.order_method_emoney{
    border-bottom: 1px solid #ddd;
    height:120px;
}
.order_card_select select{
    width:190px;
    height: 33px;
    margin-top:15px;
    font-size: 12px;
    color: #514859;
    border:1px solid #ff7276
}
.order_card_select select option{
    font-size: 12px;
    color: #514859;
}
.order_pay_info td p {
    padding-top: 20px;
    font-size: 12px;
    color: #514859;
}
.order_method_nogoods td input[type="radio"]:nth-of-type(2){
    margin-left:30px;
}
.order_method tbody{
    border:0 none;
}
/* 개인정보 수집/제공 */
.order_agree{
    padding-top: 41px; 
    width:775px;
}
.order_agree_chk{
    padding: 16px 20px 8px;
}
.order_agree_chk .agree_ch .ch{
    font-size: 14px;
    color: #000;
    line-height: 18px;
    letter-spacing: 0;
}
.order_agree_chk ul li{
    padding-left: 33px;
    padding-top: 5px;
    font-size: 12px;
    color: #000;
    line-height: 18px;
}
.order_agree_chk ul li span{
    color: #949296;
    font-size:12px;
}
.order_agree_chk ul li span a{
    color:#ff7276;
}
/* 결제완료 버튼 */
.order_btn_payment{
    padding: 80px 0 20px;
    position: relative;
    text-align: center;
}
.order_btn_payment button{
    width: 200px;
    height: 48px;
    background-color: #ff7276;
    color:white;
}
.order_btn_payment p {
    padding-top: 30px;
    font-size: 12px;
    color: #514859;
    line-height: 22px;
    letter-spacing: -0.23px;
    text-align: center;
}
