.mypage-review-container{
    /* border: 1px solid black; */
    position: relative;
    margin-top: 70px;
    width:820px;
    display: table-cell;
}


.mypage-review-title{
    margin-top: 70px;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 20px;
}

.mypage-review-subtitle { margin-bottom: 20px;}
.mypage-review-subtitle > p{ font-size: 12px; }

.mypage-review-table-item{
    text-align: center;
}