.mypage-order-container{
    /* border: 1px solid black; */
    position: relative;
    margin-top: 70px;
    width: 820px;
    display: table-cell;
    margin-bottom: 200px;
}


.mypage-order-title, .mypage-order-subtitle{
    color:#333333;
}

.mypage-order-title{
    margin-top: 70px;
    font-size: 24px;
    font-weight: 400;
}

.mypage-order-subtitle{
    position: relative;
    font-size: 12px;
    margin-left: 10px;
}


.mypage-order-table-item{
    border-top: 2px solid #ed7176;
    text-align: center;
    border-bottom: 1px solid #dddfe1;
}


.space{
    height:150px
}
