.mypage_orderdetail_tbl_type1 td {
    display: table-cell;
    vertical-align: middle !important;
}
.mypage_orderdetail_tbl_type1 tr {
    border-bottom: 2px solid #dcdbde;

}
.mypage_orderdetail_container{
    /* border: 1px solid black; */
    position: relative;
    margin-top: 70px;
    width: 820px;
    display: table-cell;
    margin-bottom: 200px;
}
.mypage_orderdetail_mypage_orderdetail_page_section {
    float: right;
    width: 820px;
}
.mypage_orderdetail_head_aticle {
    padding: 5px 0 24px;
}
.mypage_orderdetail_link_type {
    position: relative;
    padding: 0px 0 14px;
}
.mypage_orderdetail_link_type .mypage_orderdetail_tit {
    font-size: 20px;
    color: #666;
    width: 700px;
}
.mypage_orderdetail_link {

    top: 14px;
    font-size: 12px;
    color: #666;
}
.mypage_orderdetail_link a {
    padding: 0 8px 0 3px;
    color: #ff7276;
    background: url(https://res.kurly.com/pc/ico/1805/ico_arrow_10x18.png) no-repeat 100% 50%;
    background-size: 5px 9px;
}
.mypage_orderdetail_tbl_type1 .mypage_orderdetail_fst:first-child td {
    border-top: 2px solid #ff7276;
}
.mypage_orderdetail_none_bd {
    border-top: 0;
}
.mypage_orderdetail_head_aticle .mypage_orderdetail_tit {
    height: 42px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
}
.mypage_orderdetail_tbl_type1 .mypage_orderdetail_thumb {
    padding: 14px 20px 14px 0;
    width:100px;
}
.mypage_orderdetail_tbl_type1 .mypage_orderdetail_thumb img {
    width: 80px;
}
.mypage_orderdetail_section_orderview .mypage_orderdetail_tbl_type1 .mypage_orderdetail_name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000;
}
.mypage_orderdetail_tbl_type1 .mypage_orderdetail_info {
    width: 400px;
}
.mypage_orderdetail_tbl_type1 .mypage_orderdetail_progress {
    width: 160px;
}
.mypage_orderdetail_tbl_type1 .mypage_orderdetail_action {
    width: 100px;
}
.mypage_orderdetail_tbl_type1 .mypage_orderdetail_desc {
    padding-top: 4px;
}
.mypage_orderdetail_fst td:first-child, .mypage_orderdetail_fst td:last-child {
    width: 30px;
}
.mypage_orderdetail_price {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #000;
}
.mypage_orderdetail_ea {
    padding-left: 4px;
    font-size: 12px;
    color: #666;
    line-height: 18px;
}
.mypage_orderdetail_progress {
    padding-right: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #ff7276;
    line-height: 20px;
    letter-spacing: -.3px;
    text-align: center;
}
.mypage_orderdetail_btn{ 
    display: block;
    width: 100px;
    height: 34px;
    margin-top: 10px;
    background-color: #fff;
    font-size: 12px;
    color: #ff7276;
    line-height: 32px;
    text-align: center;
    letter-spacing: -.3px;
    border: 1px solid #ff7276;
    background: 0 0;
    text-indent: 0;
    margin-top: 0;
}
.mypage_orderdetail_order_cancel {
    padding: 30px 0 0;
    text-align: center;
}
.mypage_orderdetail_inner_cancel {
    display: inline-block;
    overflow: hidden;
    padding-left: 20px;
}
.mypage_orderdetail_cart_btn {
    float: left;
    width: 200px;
    height: 48px;
    padding-bottom: 2px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.32px;
    border: 1px solid #ff7276;
    background-color: #fff;
    color: #ff7276;
}
.mypage_orderdetail_btn_cancel {
    float: left;
    width: 200px;
    height: 48px;
    padding-bottom: 2px;
    margin-right: 20px;
    border: 1px solid #dddfe2;
    background-color: #dddfe1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    letter-spacing: -.32px;

}
.mypage_orderdetail_cancel_notice {
    padding-top: 19px;
    font-size: 12px;
    color: #666;
    line-height: 18px;
}
.mypage_orderdetail_emph {
    font-weight: 600
}
.mypage_orderdetail_head_section{
    padding: 43px 0 14px;
}
.mypage_orderdetail_tit {
    font-size: 20px;
    color: #666;
}
.mypage_orderdetail_tbl_type2 {
    border-bottom: 1px solid #dddfe1;
    border-top: 2px solid #ff7276;
}
.mypage_orderdetail_tbl_type2 tr:first-child th,.mypage_orderdetail_tbl_type2 tr:first-child  td {
    padding-top: 20px;
}
.mypage_orderdetail_tbl_type2 th {
    padding: 0 0 20px 10px;
    font-size: 14px;
    color: #000;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    width: 209px;
}
.mypage_orderdetail_tbl_type2 td {
    font-size: 12px;
    color: #4c4c4c;
    line-height: 20px;
    vertical-align: top;
}
