.search_container{
    width:100%;
    padding-bottom: 170px;
}
.search_content{
    width: 1050px;
    margin:0 auto;
}
.search_tit{
    padding: 50px 0;

}
.search_tit > h2{
    padding: 8px 0 14px;
    font-weight: 700;
    font-size: 35px;
    color: #333;
    line-height: 1.5;
    text-align: center;
}
.search_tit > p{
    font-size: 16px;
    color: #999;
    line-height: 18px;
    text-align: center;
}
.search_box{
    height:98px;
    border-top: 2px solid #ed7176; 
    border-bottom: 1px solid #ed7176;
}
.search_box > .tit{
    float: left;
    width: 210px;
    height: 95px;
    padding: 38px 0 0 27px;
}
.search_box .desc{
    float: right;
    width: 840px;
    padding: 25px 20px 0 0;
}
.search_box .desc input:first-of-type{
    float: left;
    width: 603px;
    height: 45px;
    margin-right: 20px;
    padding-left: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    letter-spacing: -1px;
}
.search_box > .desc > input:last-of-type{
    float: left;
    width: 175px;
    height: 45px;
    background-color: #ed7176;
    color: #fff;
    line-height: 45px;
}
.goodsList{
    height:auto;
}
.search_result{
    padding: 132px 12px 12px 28px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    color: #333;
    font-weight: 700;
}
.pagediv .search_pagination{
    margin: 60px 0 0 0;
    text-align: center;
}