.join{
    width:100%;
    margin:0 auto;
    background-color: #f9f9f9;
    margin-bottom: 30px;
    padding-bottom: 70px;
}
.join_content{
    width:1050px;
    margin:0 auto;
}
.join_location{
    text-align: right;
    padding: 10px 0;
}
.join_location > span{
    padding-top:26px;
    font-size:12px;
    color:#333;
}
.join_tit > h2{
    margin-bottom:50px;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    text-align: center;
    color: #333;
}
.join_main{
    margin:0 auto;
    width:640px;
    height:auto;
    padding: 9px 0 19px;
}
.tit_sub {
    width:640px;
    margin:0 auto;
    text-align:right;
    font-size: 13px;
}
.join_tit{
    padding-top: 12px;
}
.join_board{
    height:610px;
    border: 1px solid #f3f2f4;
    background-color: #fff;
}
.memCols1{
    width: 145px;
    padding: 30px 0 15px 29px;
    font-weight: 700;
    font-size: 13px;
    color: #333;
    line-height: 20px;
    vertical-align: top;
}
.memCols2{
    padding: 20px 0 0 0;
    border-top: 0 none;
    font-size: 0;
    vertical-align: top;
    text-align: left;
}
.memCols2 > input{
    width: 300px;
    height: 40px;
    padding: 0 9px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    border-radius: 3px;
    background: #fff;
    outline: none;
}
.join_name:nth-child(3) > .memCols1{
    padding-top:16px;
}
.join_name:nth-child(3) > .memCols2{
    padding-top:10px;
}
.join_pwCheck{
    padding-top: 10px;
}
.memCols2 > a{
    float: none;
    display:inline-block;
    width:150px;
    height: 40px;
    margin-left: 10px;
    border: 1px solid #ed7176;
    border-radius: 3px;
    background-color: #ed7176;
    font-size: 14px;
    color: #fff;
    line-height: 36px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}
.memCols2 > input::placeholder{
    color:#999;
    font-size: 13px;
}
.join_name:nth-child(6) > .memCols2 > a{
    background-color: #ddd;
    border-color: #ddd;
}
.join_name:nth-child(7) > .memCols2 > a {
    margin-left:0;
    display: block;
}
.join_name:nth-child(7) > .memCols2 > input{
    margin-top:10px;
    width:460px;
    height:40px;
}
.join_agree{
    margin-top:10px;
    padding: 29px 0 21px 29px;
    height:auto;
    border: 1px solid #f3f2f4;
    background-color: #fff;
}
.agree_tit{
    clear:both;
}
.agree_tit > h3{
    margin-right:15px;
    float: left;
    font-weight: 600;
    font-size: 21px;
    color: #333;
    line-height: 28px;
}
.agree_tit > p{
    padding: 10px 0;
    font-size: 11px;
    color: #666;
    line-height: 17px;
}
.agree_ch{
    line-height: 35px;
    text-align: left;
}
.ch{
    display: inline-block;
    font-size:13px;
}
.join_agree:nth-child(2) > .agree_ch > .ch{ /*전체동의*/
    height:40px;
    margin-top:15px;
    font-size:17px;
    font-weight: 600;
    color:#202020;
}
.agree_subCh{
    position: relative;
    margin-left: 26px;
    font-size:14px;
}
.agree_subCh > .agree_ch{
    height:32px;
}
input[type=checkbox]{
    width:0;
    padding:0;
}
.agree_ch > .ch > span:first-of-type , .ch_emailsms > .ch > span:first-of-type{
    width: 20px;
    height:20px;
    background: url(../images/ico_checkbox_off.webp) 0 2px no-repeat;
}
.agree_ch > .ch > input[type=checkbox]:checked + span:first-of-type ,
.ch_emailsms > .ch > input[type=checkbox]:checked + span:first-of-type{
     background-image: url(../images/checked.png);
     background-size: 16px 16px; 
     width: 20px;
     height:20px;
}
.agree_ch > .ch > span, .ch_emailsms > .ch > span{
    padding-right:35px;
}
.btn_essential{
    padding-left:30px;
    position: absolute;
    font-size: 13px;
    color: #ed7176;
    font-weight: 500;
}
.text_sub{
    color:#999;
}
.ch_emailsms{
    margin-top: -5px;
    padding-left: 30px;
    height:30px;
}
.ch_emailsms > .ch {
    display: inline-block;
}
.sms_info{
   margin-top:5px;
}
.sms_info > img{
    margin-left:30px;
    width:323px;
    height:30px;
}
.agree_subCh > .agree_ch:nth-child(4) {
    height:105px;
}
.join_btn{
    width:640px;
    height:54px;
}
.join_btn > button{
    display: block;
    width: 340px;
    height: 54px;
    margin: 45px auto 0;
    border: 0 none;
    border-radius: 3px;
    background-color: #ed7176;
    font-size: 16px;
    color: #fff;
    line-height: 44px;
    letter-spacing: -0.3px;
}


.join_zipcode{
    width: 130px !important;
}