.prd_wrap{
    width:100%;
    height:auto;
}
.section_view {
    width: 1050px;
    height: auto;
    padding-top: 20px;
    margin: 0 auto;
}
.thumb {
    width: 430px;
    height: 553px;
    float: left;
}
.section_view .thumb img{
    width: 430px;
    height: 553px;
}
.product_name {
    padding: 10px 0 29px;
    width: 560px;
    height: 97px;
    float: right;
}
.product_price {
    padding: 0px 0 29px;
    width: 560px;
    height: 67px;
    float: right;
}
.p_name {
    display: block;
    font-size: 24px;
    font-weight: 500 ;
    color: #444;
}
.p_price {
    display: block;
    font-size: 28px;
    font-weight: 600;
    color: #444;
}
.won {
    font-size: 18px;
    font-weight: 500 ;
    color: #444;
    padding-left: 2px;
    vertical-align: 1px;
}
.srtdesc {
    display: block;
    color: #999999;
    font-size: 14px;
    padding-top: 4px;
}
.p_price_unlogged {
    display: block;
    font-size: 14px;
    padding-top: 6px;
    color: #ff7276;
}
.product_info {
    float: right;
    width: 560px;
    margin-top: 19px;
    padding-bottom: 19px;
    border-top: 1px solid #f4f4f4;
}
.list {
    padding: 18px 0 18px;
    border-bottom: 1px solid #f4f4f4;
}
.list.fst {
    padding-bottom: 0;
    border-bottom: 0 none;
}
.tit {
    float: left;
    width: 150px;
    font-size: 14px;
    color: #666;
    line-height: 20px;
}
.desc {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    word-break: break-all;
}
.last {
    height: 55px;
}
.prd_btn{
    margin-left:0 !important;
}
/* 계산 필드 */
.prd_pay{
    text-align: right;
    color: #333;
}
.prd_pay_total{
    margin-top: 20px;
}
.prd_pay_tit{
    font-size: 15px;
    line-height: 20px;
    vertical-align: 2px;
    color: #333;
    font-weight: 500;
}
.prd_pay_num{
    padding-left: 8px;
    font-size: 32px;
    line-height: 32px;
    color: #333;
    font-weight: 700;
}
.prd_pay_won{
    padding-left: 2px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -1px;
    color: #333;
    font-weight: 700;
}
.prd_gocart{
    border: 1px solid #ff7276;
    background-color: #ff7276;
    border-radius: 3px;
    width: 300px;
    height: 55px;
    float: right;
    margin-top: 10px;
}
.prd_gocart button[type="submit"]{
    width:300px;
    height:100%;
    color: #fff;
    font-size: 16px;
    line-height: 52px;
    letter-spacing: -.1px;
    text-align: center;
}

/* 상세 이미지 */
.prd_image img{
    margin-top: 65px;
}

/* 상품 후기 */
.prd_review h2{
    color: #444;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 5px;
}
.prd_ico{
    float: left;
    width: 4px;
    height: 4px;
    margin: 7px 8px 0 0;
    background-color: #514859;
    vertical-align: 2px;
}
.prd_reviewInfo p{
    overflow: hidden;
    padding: 0;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    letter-spacing: -.3px;
}

/* 상품 후기 본문 */
.prd_frmList table{
    margin-top: 20px;
    border-top:2px solid #ff7276;
    border-bottom:1px solid #ff7276;
    font-size: 12px;
    color:#4c4c4c;
}
.prd_frmList tr{
    height: 65px;
}
.prd_frmList tr{
    text-align: center;
}
.prd_frmList th,.prd_frmList td{
    padding: 25px 0 23px;
    vertical-align: middle;
    font-size: 12px;
}
.prd_frmList th:first-child, .prd_frmList td:first-child{
    width: 80px;
    padding-left: 20px;
}
.prd_frmList td:nth-child(2){
    width: 600px;
    text-align: left;
    padding-left: 80px;
}
.prd_frmList td{
    border-top: 1px solid #ddd;
}
.prd_toggle_content img{
    margin:20px auto;
    display: block;
}
.prd_toggle_content p{
    text-align: left;
}