.orderOk-container{
    background-color: #f7f7f7;
    padding: 50px 0px 50px 0px;
    width:100%;
    height:auto;
}
.orderOk-subcontainer{
    background-color: white;
    margin: 0px auto;
    width:700px;
    height:auto;
}
/* 주문완료 title */
.orderOk_tit{
    color:#ed7175;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 500;
}
.orderOk-subcontainer > div:nth-child(2),
.orderOk-subcontainer > div:nth-child(3){
    text-align: center;
    padding:15px;
}
 
.orderOk-subcontainer > div:nth-child(3){
    font-size: 20px;
    font-weight: 500;
    color: #444;
}
/* 주문번호 */
.orderOk-subcontainer-orderlist{
    margin: 0px auto;
    padding:15px;
    width:550px;
    font-weight: 300;
    color: black;
}
.orderOk-subcontainer-orderlist > div{
    border-top: 2px solid #ed7175;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding:15px 0;
}
.orderOk-subcontainer-orderlist > div > a{
    font-size: 19px;
    font-weight: 500;
    color: #ed7175;
    letter-spacing: 0.5px;
}
.orderOk-subcontainer-orderlist > div > a > span:first-child{
    display: inline-block;
    width:83px;
}
.orderOk-subcontainer-orderlist > div > a > span:nth-child(2){
    padding-left: 40px;
}
.orderOk-subcontainer-orderlist > div > a > span:last-child{
    float: right;
    font-size: 20px;
}
/* 주문 내역 리스트 */
.orderOk_list tr td{
    padding:5px 0;
}
.orderOk_list tr{
    font-size: 15px;
}
.orderOk_list th{
    width: 115px;
    font-weight: 400;
}
.orderOk-subcontainer-orderlist > table > tbody > tr > td:first-child{
    width: 93px;
}
.orderOk-subcontainer-orderlist > table > tbody > tr > td:last-child{
    width: 350px;
}

/* 주문 내역 바로가기 버튼 */
.orderOk_btn{
    text-align: center;
    padding: 40px 0;
}
.orderOk_btn a input{
    width:300px;
    height:50px;
    border: 1px solid #ed7175;
    background-color: #ed7175;
    color: white;
}