.main_list_goods {
    /* background-color:red; */
    height: 450px;
    width: 1050px;
    margin: auto;
}
.main_product_list, .main_product_list_sale, .main_product_listmenu{
    width: 100%;
}
.main_event, .main_product_list_today {
    width: 100%;
    background-color: #f7f7f7;
}
.main_goods_tit {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    padding-top: 50px;
    color: #444;
}
.main_goods_tit_d {
    width: 1050px;
    height: 130px;
    margin: auto;
    /* background-color:burlywood; */
}
.main_goods_li {
    float: left;
    list-style: none;
    width: 249px;
    height: 400px;
    /* background-color: aqua; */
    margin-right: 18px;
    position: relative;

}

.main_event_li {
    float: left;
    list-style: none;
    width: 338px;
    height: 500px;
    /* background-color: aqua; */
    margin-right: 18px;
    position: relative;
}
.main_goods_ul, .main_event_ul {
    width: 1015%;
    position: relative;
    display: inline-block;
}
.imgscale {
    width: 249px;
    height: 320px;
    transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.imgscale1 {
    width: 338px;
    height: 338px;
    transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.imgscale1:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.imgscale:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.main_thumb_img {
    width: 249px;
    height: 320px;
    overflow: hidden;
    
}

.main_thumb_event_img {
    width: 338px;
    height: 338px;
    overflow: hidden;
}
.goods_name {
    padding-top: 13px;
    font: 16px  #000;
}
.event_name {
    text-align: center;
    padding-top: 13px;
    font-size: 18px;
    font-weight: bold;
}
.event_name a, .goods_name a {
    color: #444;
}
.main_product_list span, .main_product_list_sale span, .main_event span, .main_product_listmenu span, .main_product_list_today span{
    display: block;
}

.price {
    padding-top: 3px;
    font-weight: 600;
    font-size: 16px;
    color: #333;
}
.cost {
    display: block;
    padding-top: 2px;
    font-size: 14px;
    color: #ccc;
    line-height: 18px;
    text-decoration: line-through;
}
.eventsubtext {
    padding-top: 3px;
    text-align: center;
    font-size: 16px;
}
.main_product_list a:hover, .main_product_list_sale a:hover, .main_event a:hover, .main_product_listmenu a:hover, .main_product_list_today a:hover{
    color: #ff7276;
    font-weight: bold;
    
}
.tit_a  {
    display: block;
    margin: auto;
    width: 300px;
}
.saleico {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
}
.crs img{
    height: 370px;
    width: auto;
    margin-left: -230px;
}
.crs {
    width: 100%;
    height: 370px;
    overflow: "hidden";
}
.main_goods_tit_d_menu{
    height: 200px;
}

.main_goods_listmenu a {
    display: inline-block;
    padding:9px 0;
    width:150px;
    height:40px;
    font-size: 14px;
    font-weight: 400;
    color:#555;
    text-align: center;
    border:0px solid;
    border-radius: 30px;
    margin-right: 20px;
    background-color: #eee;

    -webkit-transition: background-color .1s ease-in-out;
	-moz-transition: background-color .1s ease-in-out;
	-o-transition: background-color .1s ease-in-out;
	-ms-transition: background-color .1s ease-in-out;
	transition: background-color .1s ease-in-out;
}
.main_goods_listmenu {
    padding-top: 23px;
    padding-left: 20px;
    width: 870px;
    margin: auto;
}
.main_goods_listmenu a:hover{
    color: white;
    background-color: #ff7276;
}
.bottombanner {
    margin: auto;
    width: 1050px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.bbimg {
    width: 1050px;
    height: 150px;
}
