.footer{
    width: 1050px;
    margin: 0 auto;
    margin-top:40px;
    padding-bottom: 60px;
    font-weight: 400;
    letter-spacing: -0.2px;
    display: inline-block;
}
.ft_content{
    overflow: hidden;
    padding-bottom: 24px;  
    border-bottom: 1px solid #eee;
}
.ft_img > img{
    width:1024px;
    height:160px;
}
.ft_company{
    float: left;
    padding-top: 19px;
    font-size: 12px;
    color: #999;
    line-height: 20px;
    padding-left : 10px;
}
.ft_cc , .ft_company{
    float: left;
}
.ft_cc > h2{
    padding: 29px 0 2px;
    width:534px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    line-height: 24px;
}
.cc_call {
    padding-top: 20px;
    content: "";
    display: block;
    clear: both;
}
.cc_view > h3{
    margin:5px 0;
    margin-right:10px;
    float:left;
    width:150px;
    height:35px;
    color: #333;  
}
.cc_call > h3 {
    font-size: 28px;
    font-weight: 700;
    width:150px;
}
.cc_kakao > h3 , .cc_qna > h3{
    height:35px;
    padding-top:5px;
    text-align: center;
    border: 1px solid #bebebe;
}
.cc_kakao > h3 > a , .cc_qna > h3 > a {
    font-size: 15px;
    
}
.cc_view{
    overflow: hidden;
    padding-top: 16px;
}
.cc_view > dl{
    display:inline-block;
    font-size: 13px;
}
.cc_view > dl > dt{
    color:#333;
    font-weight: 700;
}
.cc_view > dl > dt, .cc_view >dl > dd {
    margin:0;
}
.ft_company > ul {
    margin-top:15px;
}
.ft_company > ul > li{
    margin:0;
    padding-right:10px;
    display:inline-block;
    font-size:14px;
    font-weight: 500;
    color:#333;
}
.ft_comlist {
    margin-top:20px;
    font-size: 12px;
    color:#999;
    line-height:20px;
}
.ft_comlist > a{
    color: #ff7276;
}
.ft_comlist > span ::after{
    content: "l";
}
.copy{
    height:32px;
    margin-top:15px;
}
.copy .list_sns{
    float:right;
}
.list_sns li{
    float: left;
}
.copy  .list_sns .link_sns img{
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}