.header{
    width:100%;
    height:auto;
}
.hd_content{
    margin:0 auto;
    width:1050px;
    height:142px;
}
.hd_up{
    padding:3px 0;
    width:1050px;
    height:37px;
}
.hd_event{
    display: inline-block;
    padding:2px 0;
    width:180px;
    height:22px;
    font-size: 11px;
    font-weight: 500;
    color:#333;
    text-align: center;
    border:1px solid black;
    border-radius: 10px;
    border-color: #999;
    margin-left: 40px;
}
.hd_event > p > a > span{
    color: #ff7276;
    font-weight: 600;
}
.hd_menu{
    float:right;
    clear: both;
    margin-right: 20px;
}
.hd_menu > li{
    float:left; 
    padding-bottom: 5px;
}
.hd_menu > li > a{
    color:#333;
    font-size: 12px;
    padding: 0 15px;
    border-right:1px solid #d8d8d8;
}
.hd_menu > li:first-child > a{
    color: #ff7276;
}
.hd_menu > li:last-child > a{
    border:none;
}
.hd_menu > li > a > img{
    padding:9px 0;
}
.hd_downMenu{
    display:none;
    width:110px;
    height:auto;
    border:1px solid #d9d9d9;
    position:absolute;
    top:33px;
    z-index:200;
}
.hd_downMenu > li{
    padding:1px 0;
    padding-left:10px;
    margin:2px 0;
}
.hd_downMenu > li > a{
    color:#333;
    font-size: 13px;
}
.hd_downMenu > li:hover > a{
    text-decoration: none;
}
.hd_menu > li:hover > ul{
    display: block;
}
.hd_logo {
    text-align: center;
}
.hd_logo > a > img{
    width:130px;
    height:90px;
}
.floating{
    z-index: 10000;
    position: fixed; 
    right: 2%; 
    top: 470px; 
    text-align:center; 
    width: 80px; 
    margin-bottom:10px;
    background-color: white;
}
.floating div{ 
    border:1px solid #eee; 
    color:#666;
    font-size:12px;
    padding:10px 0;
    font-weight: 600;
} 
.floating > div > a > img{
    width:70px;
    height:90px;
}

