.nav-container{
	width:100%;
	height: 57px;
	background: white;
}
.nav-menu{
	position: relative;
	margin:0 auto;
	width:1050px;
	height:55px;
}
.nav-menu > li{
	float: left;
}
.nav-menu > li > a{
    color: #333;
	line-height: 20px;
	font-weight: 600;
	font-size: 16px;
}
.nav-menu > li:nth-child(n+2):nth-child(-n+5)::before {
	content: "l";
	float: left;
	padding:16px 0;
	color:#ddd;
	font-weight: 300;
}
.nav-menu li .nav-category{	
	display: inline-block;
	padding:16px 40px 16px 10px;
	width:200px;
	height:55px;
}
.nav-menu .nav-items{
	display: inline-block;
	text-align: center;
	padding:16px 40px;
	width: 140px;
	height:55px;
}
.nav-menu li:hover > a{
	color: #ff7276;
}
.nav-menu li:first-of-type:hover > .nav_sub{
	display: block;
}
.nav-category img {
	width:16px;
	height:14px;
	margin-top:4px;
	margin-right:30px;
}
.nav-search-container{
	width: 272px;
	position: relative;
	height: 55px;
}
#nav-search{
    width: 262px;
	height: 36px;
	padding: 0 50px 0 0px;
	border-radius: 20px;
	margin-top: 7px;
	background-color: #f4f4f4;
	border: none;
}
.nav-btn{
	position: absolute;
	top:10px;
	left: 220px;
    width: 30px;
	height: 30px;
}
.nav_sub{
	display: none;
}
.nav_sub{
	position: absolute;
	top:55px;
	z-index: 10000;
	background: white;
	width:500px;
}
.nav_sub > .nav_submenu{
	float: left;	
	width:220px;
	margin:14px;
}
.nav_sub > .nav_submenu > li > a{
	display: inline-block;
	width:220px;	
}
.nav_sub > .nav_submenu >li:first-of-type a{
	font-weight: 700;
	height: 55px;
	border-bottom: 1px solid #ff7276;
	padding: 15px;
	font-size: 16px;
}
.nav_sub > .nav_submenu >li:not(:first-of-type) a{
	padding:14px 0 0 16px;
	font-size:13px;
	height: 50px;
}
.bg {
	width: 100%;
	height: 9px;
}
.jbFixed {
	position: fixed;
	top: 0px;
	z-index:100000;
  }