.cart_container{
    width: 1050px;
    margin: 0px auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}
.cart_tit {
    padding-top: 10px;
    height: 150px;
}
.cart_title{
    font-size: 35px;
    font-weight: 500;
    color: #333333;
    padding-bottom: 10px;
}
.cart_table_item_none{
    border-bottom: 2px solid #888;
}
/* 상품 테이블 제목 */
.cartd {
    border-top: 2px solid #ff7276;
    border-bottom: 2px solid #ddd;
    font-size: 15px;
    color: #333;
    letter-spacing: -.3px;
    text-align: left;
    font-size: 14px;
    padding: 20px 0 ;
    text-align: center;
}
.cart_table_column_detail{
    width: 600px;
}
.cart_table_column_count{
    width: 150px;
}
.cart_table_column_price{
    width: 150px;
}
.cart_table_column_delete{
    width: 150px;
}
/* 장바구니 상품 list */
.cart_table tbody td{
    vertical-align: middle;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.cart_goods_thumb {
    width: 100px;
    float: left;
}
.cart_goods_thumb img {
    width: 60px;
}
.cart_goods_desc {
    float: left;
    padding: 16px 0;
}
.cart_goods_name {
    float: left;
    margin-left: 15px;
    font-size: 15px;
    color:#333;
}
.cart_goods_price {
    float: left;
    font-weight: 400;
    font-size: 12px;
    margin-top: 1px;
    margin-left: 15px;
    vertical-align: center;
}
.btn_reduce {
    font-size: 12px;
    float: left;
    width: 23px;
    height: 22px;
    background-color: #f3f3f3;
    padding-bottom: 3px;
    border-right: 1px solid #ddd;
}
.btn_reduce img {
    width: 12px;
    vertical-align: middle;
}
.inp_quantity {
    float: left;
    width: 38px;
    height: 22px;
    border: 0 none;
    background-color: #fff;
    font-size: 12px;
    color: #000;
    text-align: center;
    letter-spacing: -0.2px;
}
.btn_rise img {
    vertical-align: middle;
    height: 12px;
}
.btn_rise{
    line-height: 1;
    font-size: 12px;
    float: left;
    width: 23px;
    height: 22px;
    background-color: #f3f3f3;
    padding-bottom: 1px;
    border-left: 1px solid #ddd;
}
.cart_goods_quantity {
    float: left;
    border: 1px solid #ddd;
    margin-left: 32px;
}
.cart_goods_price2 {
    font-weight: 500;
    font-size: 15px;
    color:#333;
}
.cart_delete_btn button,
.cart_delete_btn img{
    width: 15px;
    height: 15px;
    outline: none;
}
/* 결제금액 테이블 */
.cart_table2 .cartd{
    width: 210px;
}
.cart_table2 {
    margin-top: 120px;
}
/* 상품 삭제 버튼 */
.cart_button{
    text-align: left;
    margin-top: 20px;
}
.cart_delete_button{
    background-color: white ;
    font-size: 14px ;
    font-weight: 300;
    background-color: #fff ;
    border: 1px solid #888;
    color: #333;
    margin-right: 10px;
    height: 40px;
    width: 120px;
}
.cart_delete_button:hover{
    background-color: #ff7276 ;
    color:#ffffff ;
    border: 1px solid #ff7276;
    font-weight: 400;
}
/* 결제 내역 */
.cart_calculate_price{
    font-size: 28px;
    font-weight: 500;
    color:#333;
    padding:15px 0;
}
.cart_totalPrice{
    color:#ed7176;
}
.cart_cal {
    font-size: 30px;
    padding:15px 0;
}
/* 결제하기 / 쇼핑 계속하기 버튼 */
.cart_submit1{
    margin-top: 40px;
    width:200px ;
    height:48px ;
    background-color: #fff ;
    border: 1px solid #888;
    color: #333;
    margin-right: 10px;
    font-weight: 300;
}
.cart_submit{
    margin-top: 40px;
    width:200px ;
    height:48px ;
    background-color: #ff7276 ;
    border: 1px solid #ff7276;
    color: white;
    margin-right: 10px;
    font-weight: 300;
}
.cart_submitbtn{
    padding-top:50px;
}
