.cart_container{
    width: 1050px;
    margin: 0px auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.cart_table th {
    border-bottom: 2px solid #ddd !important;
}
.cart_table td, .cart_table th{
    padding-right:0px !important;
    padding-left:0px !important;
}
.cart_table th:first-child, .cart_table td:first-child{
    padding-left:30px !important;
    text-align: left !important;
}
.cart_table th:last-child,  .cart_table td:last-child{
    padding-right:30px !important;
    text-align: right !important;

}
.cart_table td , .cart_table2 td{
    height: 120px;
    vertical-align: middle !important; 
    border-bottom: 2px solid #e9e9e9 ;
}
.cart-tit {
    padding-top: 10px;
    height: 150px;
}
.cart-title{
    font-size: 35px;
    font-weight: 500;
    color: #333333;
    padding-bottom: 10px;
}

.cart-table-container{
    /* border-top: 1px solid red !important; */
    width: 1050px !important;
    max-width: none !important;
    margin: 0 auto !important;
    text-align: center ;
}

.cart-table-item-none{
    border-bottom: 2px solid #888;
}


.cart-table-column-check, 
.cart-table-column-img, 
.cart-table-column-detail,
.cart-table-column-count,
.cart-table-column-price,
.cart-table-colume-delete,
.cart-calculate-order,
.cart-calculate-deliv,
.cart-calculate-total,
.cart-calculate-plus,
.cart-calculate-equal {
    border-top: 2px solid #ed7176 !important;
}
.cartd {
    font-size: 14px;
    padding-top: 5px;
    height: 31px;
}
.cartd2 {
    font-size: 20px;
}

.cart-table-column-check{
    width: 80px;
    text-align: left ;
}

.cart-goods-thumb {
    width: 100px;
    float: left;
}
.cart-goods-thumb img {
    width: 60px;
}
.cart-goods-desc {
    float: left;
    margin-top: 15px;
    
}
.cart-goods-name {
    float: left;
    font-weight: 500;
    margin-left: 15px;
    font-size: 16px;

}
.cart-goods-price {
    float: left;
    font-weight: 400;
    font-size: 12px;
    margin-top: 1px;
    margin-left: 15px;

}
.cart-table-column-detail{
    width: 600px;
    text-align: center;
}
.cart-table-column-count{
    width: 150px;
}
.cart-table-column-price{
    width: 150px;
}
.cart-calculate-order,
.cart-calculate-deliv,
.cart-calculate-total,
.cart-calculate-plus,
.cart-calculate-equal {
    width: 210px;
}
.cart-button{
    text-align: left;
}

.cart-delete-button{
    background-color: white ;
    font-size: 14px ;
    font-weight: 300 !important;
    background-color: #fff ;
    border: 1px solid #888;
    color: #333;
    font-weight: 500 ;
    margin-top: 12px;
    margin-right: 10px;
    height: 40px;
    width: 120px;

}

.cart-delete-button:hover{
    background-color: #ff7276 ;
    color:#ffffff ;
    border: 1px solid #ff7276;
    font-weight: 400 !important;
}

.cart-calculate-price{
    font-size: 23px;
    font-weight: 500;
    color:#333;
}

#cart-calculate-price{
    color:#ed7176;
}
.cart-submit1{
    margin-top: 40px;
    width:200px ;
    height:48px ;
    background-color: #fff ;
    border: 1px solid #888;
    color: #333;
    margin-right: 10px;
    font-weight: 300;
}
.cart-submit{
    margin-top: 40px;
    width:200px ;
    height:48px ;
    background-color: #333 ;
    border: 1px solid #333;
    color: white;
    margin-right: 10px;
    font-weight: 300;
}
.cart-submit1:hover, .cart-submit:hover{
    width:200px ;
    height:48px ;
    background-color: #ff7276 ;
    color: white ;
    border: 1px solid #ff7276;
    font-weight: 500;
}
.cart_ch > div {
    display: inline-block;
    vertical-align: 4px;
    padding-left: 5px;
    font-size: 14px;
}
.cart_ch > span{
    display: inline-block;
    margin-top: 7px;
    width: 20px;
    height:20px;
    background: url(../images/ico_checkbox_off.webp) 0 2px no-repeat;
}
.cart_ch > input[type=checkbox]:checked + span:first-of-type{
     background-image: url(../images/checked.png);
     background-size: 16px 16px; 
     width: 20px;
     height:20px;
}
input[type=checkbox]{
    width:0;
    padding:0;
    opacity:0;
}
.btn_reduce {
    font-size: 12px;
    float: left;
    width: 23px;
    height: 22px;
    background-color: #f3f3f3;
    padding-bottom: 3px;
    border-right: 1px solid #ddd;
}
.btn_reduce img {
    width: 12px;
    vertical-align: middle;
}
.inp_quantity {
    float: left;
    width: 38px;
    height: 22px;
    border: 0 none;
    background-color: #fff;
    font-size: 12px;
    color: #000;
    text-align: center;
    letter-spacing: -0.2px;
}
.btn_rise img {
    vertical-align: middle;
    height: 12px;

}
.btn_rise{
    line-height: 1;
    font-size: 12px;
    float: left;
    width: 23px;
    height: 22px;
    background-color: #f3f3f3;
    padding-bottom: 1px;
    border-left: 1px solid #ddd;
}
.cart-goods-quantity {
    float: left;
    border: 1px solid #ddd;
    margin-left: 32px;
}
.cart-goods-price2 {
    font-weight: 500;
    font-size: 15px;
}
.cart_table2 {
    margin-top: 120px;
}
