/* 카테고리 영역 */
.product_list_body{
    width:100%;
    height:auto;
}
.product_list_content{
    width:1050px;
    margin: 0 auto;
}
.product_list_header{
    position: relative;
    padding-left: 29px;
}
.product_list_tit{
    overflow: hidden;
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
}
.product_list_tit span{
    float: left;
    padding: 20px 0 0 4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #000;
    letter-spacing: -0.3px;
}
.product_list_category{
    overflow: hidden;
    width: 870px;
}
.product_list_category li {
    float: left;
}
.product_list_category li a{
    overflow: hidden;
    float: left;
    padding: 0 13px 7px 12px;
    border-bottom: 1.5px solid #ddd;
    line-height: 20px;
    font-size: 12px;
    color: #333;
    letter-spacing: -0.3px;
    cursor: pointer;
}
.product_list_category li a:hover{
    color:#ff7276;
    border-bottom: 1.5px solid #ff7276;
}
/* 상품 리스트 영역 */
.product_list_body{
    overflow: hidden;
    padding: 0 29px;
}
.product_list_goods{
    overflow: hidden;  
}
.product_list_goods li{
    float: left;
    width: 330px;
    height: 611px;
    padding: 25px 10px 0 10px;
}
.prd_img{
    position: relative;
    overflow: hidden;
}
.prd_img .imgscale3{
    width: 100%;
    height: 400px;
    vertical-align: top;
    width: 310px;
    transition: all 0.3s ease-in-out;
    
}
.prd_img .imgscale3:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.prd_img .product_sale_icon{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 55px;
}
.product_list_goods li a:hover{
    transition: all 0.5s ease-in-out;
}
.product_list_goods li a:nth-of-type(2){
    display: block;
    padding: 10px;
}
.product_list_goods_info{
    padding: 10px;
}
.product_list_goods_name{
    overflow: hidden;
    max-height: 58px;
    font-size: 20px;
    color: #333;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: -1px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.product_list_goods_price{
    display: block;
    padding-top: 9px;
    font-size: 17px;
    color:#ff7276;
    line-height: 24px;
}
.product_list_goods_desc{
    display: block;
    padding-top: 8px;
    font-size: 13px;
    color: #666;
    line-height: 19px;
}
/* pagination 영역 */
.product-pagenation-container{
    text-align: center;
}
