.board-container{
    width: 820px;
    margin: 0px auto;
    /* border: 1px solid black; */
    display: table-cell;
    color: #353535;
}

.board-container > p {
    font-size: 20px;
    font-weight: 600;
}

.board-container > p > span {
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}

.board-table{
    width: 820px;
    font-size: 13px;
}

.board-table > tr:first-child > td{
    border-top: 2px solid #ed7176;
}

.board-table > tr > td{
    border-bottom: 1px solid #e8e8e8;
}


.board-table > tr:nth-child(1) > td:first-child,
.board-table > tr:nth-child(2) > td:first-child,
.board-table > tr:nth-child(3) > td:first-child,
.board-table > tr:nth-child(3) > td:nth-child(3)
{
    width: 120px;
    height: 44px;
    padding-top: 12px;
    background-color: #f7f5f8;
    text-align: center;
}

.board-table > tr:last-child > td{
    padding: 30px;
    border-bottom: 1px solid #ed7176;
}

.board-table > tr:nth-child(3) > td:nth-child(2){
    width: 120px;
}

.board-table > tr:nth-child(1) > td:nth-child(2),
.board-table > tr:nth-child(2) > td:nth-child(2),
.board-table > tr:nth-child(3) > td:nth-child(2),
.board-table > tr:nth-child(3) > td:nth-child(4)
{
    padding-left: 10px;
}