.qna-writeform-container{
    width: 820px;
    display: inline-block;
    color: #353535;
    font-size: 12px;
}

.qna-writeform-container > div:first-child{
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0px 20px 0px;
}

.qna-writeform-table > tr:first-child > td{
    border-top: 2px solid #ed7176;
}

.qna-writeform-table > tr > td{
    border-top: 2px solid #e8e8e8;
}


.qna-writeform-table > tr > td:first-child{
    width: 114px;
    background-color: #f7f5f8;
    text-align: center;
}


.qna-writeform-table > tr:first-child > td:first-child{
    vertical-align: middle;
    height:89px;
}


.qna-writeform-table > tr:first-child > td:nth-child(2) > div:nth-child(1) > select{
    width: 124px;
    height: 23px;
    background-color: #f8f8f8;
    font-size: 12px;
    color:#353535;
    margin-left: 10px;
    margin-top: 15px;
}

.qna-writeform-table > tr:first-child > td:nth-child(2) > div:nth-child(2) > input{
    width: 690px;
    height: 30px;
    border: 1px solid #e8e8e8;
    font-size: 12px;
    color:#353535;
    margin-left: 10px;
    margin-top: 5px;
}

.qna-writeform-table > tr:nth-child(2) > td,
.qna-writeform-table > tr:nth-child(3) > td,
.qna-writeform-table > tr:nth-child(4) > td{
    height:61px;
    padding-top: 16px;
}

.qna-writeform-table > tr:nth-child(2) > td:nth-child(2){
    width:174px;
    padding-right: 5px;
}

.qna-writeform-table > tr:nth-child(2) > td > input,
.qna-writeform-table > tr:nth-child(3) > td > input,
.qna-writeform-table > tr:nth-child(4) > td > input{
    width:174px;
    height:30px;
    border:1px solid #e8e8e8;
    margin-left: 10px;
}

.qna-writeform-table > tr:nth-child(2) > td > button{
    width:100px;
    height:29px;
    background-color:#ed7176;
    color:white;
    font-size: 14px;
    border:1px solid #ed7176;
}

.qna-writeform-table > tr:last-child > td:first-child {
    vertical-align: middle;
    height:944px;
}

.qna-writeform-table > tr:last-child > td:nth-child(2) > p {
    padding-left: 15px;
}

.qna-writeform-table > tr:last-child > td:nth-child(2) > p {
    padding-left: 15px;
}

.qna-writeform-table > tr:last-child > td:nth-child(2) > p:nth-child(2),
.qna-writeform-table > tr:last-child > td:nth-child(2) > p:nth-child(6),
.qna-writeform-table > tr:last-child > td:nth-child(2) > p:nth-child(9),
.qna-writeform-table > tr:last-child > td:nth-child(2) > p:nth-child(17) {
    font-weight: 700;
}

.qna-writeform-table > tr:last-child > td:nth-child(2) > p:nth-child(19) {
    color:#ed7176
}

.qna-writeform-table > tr:last-child > td:nth-child(2) > div > textarea {
    border: 1px solid #e8e8e8;
    margin-left: 10px;
    color:#353535;
    font-size: 12px;
}


.qna-writeform-table > tr:last-child > td{
    border-bottom: 2px solid #e8e8e8;
}


.qna-writeform-container > form > div:last-child{
    text-align: right;
}

.qna-writeform-container > form > div:last-child > button{
    width: 150px;
    height: 42px;
    background-color: #ed7176;
    color: white;
    font-size: 14px;
    margin: 10px 10px 0px 0px;
}