.qs_content{
    display: inline-block;
    width:820px;
    height: auto;
    padding-bottom: 170px;
}
.qs_head{
    padding: 5px 0 24px;
}
.qs_head .qs_tit{
    height: 42px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
}
.qs_sitemcd{
    margin-top:20px;
    height:35px;
}
.qs_sitemcd button{
    width: 100px;
    line-height: 30px;
    text-align: center;
    background-color: #ff7276;
    border: 1px solid #ff7276;
    color: #fff;
    font-size: 15px;
    float: right;
    margin-left: 2px;
    font-size: 13px;
}
.qs_frmList table{
    width:820px;
    border-top:1px solid #ff7276;
    font-size: 12px;
    color:#4c4c4c;
}
.qs_frmList table thead tr{
    text-align: center;
}
.qs_frmList table thead tr th{
    padding: 20px 0;
}

.qs_frmList > table > thead > tr > th:first-child{
    width:65px;
}

.qs_frmList > table > thead > tr > th:nth-child(2){
    width:123px;
}

.qs_frmList > table > thead > tr > th:nth-child(3){
    width:436px;
}

.qs_frmList > table > thead > tr > th:nth-child(4){
    width:98px;
}


.qs_frmList > table > tbody > tr > th{
    height:53px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    padding-top: 15px;
}

.qs_frmList > table > tbody > tr > th:nth-child(3){
    text-align: left;
    padding-left: 20px;
}

.qs_frmList > table > tbody > tr > th:nth-child(3) > span{
    color: #ff7276;
    padding-left: 5px;
}


.qs_nodata{
    padding: 150px 0 148px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    font-size: 12px;
    color: #4c4c4c;
    text-align: center;
}
/* .qs_frmList table tbody tr td{
    padding: 20px 0;
    border-top: 1px solid #e9e9e9;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}
.qs_frmList table tbody tr td:nth-of-type(3)
{
    padding-left: 10px;
    text-align: left;
} */
/* .frm_pagination{
    margin: 60px 0 0 0;
    text-align: center;
}
.pagination{
    display: unset !important;
    margin:0 auto !important;

    border:none;
}
.pagination li{
    display: inline-block;
}
.pagination li:first-child{
    border-left: 1px solid #ddd;
}
.pagination li a{
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 0 none;
    padding:5.5px 0;
    font-size: 13px;
} */
