.nt_content{
    display: inline-block;
    width:820px;
    height: auto;
    padding-bottom: 170px;
}
.nt_head{
    padding: 5px 0 24px;
}
.nt_head .nt_tit{
    height: 42px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #333;
}
.nt_head .nt_tit > span{
    padding-left: 8px;
    font-size: 12px;
}
.nt_sitemcd{
    margin-bottom:10px;
}
.nt_sitemcd select{
    margin: 0 2px 0 0;
    border: 1px solid #bfbfbf;
    line-height: 34px;
    height: 34px;
    vertical-align: middle;
    padding-bottom: 5px;
}
.nt_sitemcd input{
    height: 34px;
    line-height: 34px;
    width: 220px;
    border: 1px solid #bfbfbf;
    color: #000;
    float: right;
    padding: 4px;
}
.nt_frmList table{
    border-top:1px solid #ff7276;
    border-bottom:1px solid #ff7276;
    font-size: 12px;
    color:#4c4c4c;
}
.nt_frmList table thead tr{
    text-align: center;
}
.nt_frmList table thead tr th{
    padding: 20px 0;
}
.nt_frmList table tbody tr td{
    padding: 20px 0;
    border-top: 1px solid #e9e9e9;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
}
.nt_frmList table tbody tr td:nth-of-type(2)
{
    padding-left: 10px;
    text-align: left;
}
.frm_pagination{
    margin: 60px 0 0 0;
    text-align: center;
}
.pagination{
    display: unset !important;
    margin:0 auto !important;

    border:none;
}
.pagination li{
    display: inline-block;
}
.pagination li:first-child{
    border-left: 1px solid #ddd;
}
.pagination li a{
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 1px solid #ddd;
    border-left: 0 none;
    padding:5.5px 0;
    font-size: 13px;
}
